# Semana 07
Kenet Simon Ureta Flover

Temas :
    1.Numeros
    2.Variables 
    3.Manejo de cadenas 
    4.Ingreso de cadenas
    5.Operadores

5.Operadores

#5.1 Operadores aritmeticos 
#Se tiene: +,-,*,/,

In [3]:
numero1=10
numero2=3
suma=numero1+numero2
resta=numero1-numero2
multiplicacion =numero1*numero2
division= numero1
residuo=numero1%numero2
cociente=numero1//numero2
potencia=numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
10
1
3
1000

In [4]:
#5.2 Operadores de asignacion 
# Se tiene: =. += , -= , *= , /= , **=
numero=5
numero = numero +3
print(numero)

8

In [5]:
#La operacion anteriro tambien se puede expresar de la siguiente manera:
numero =5
numero +=3
print(numero)

8

In [6]:
#la mismo se puede hacer con todos los casos , incluso la potencia
numero=5
numero=numero ** 3
print(numero)

125

In [7]:
#lA operaciion anterior  tambien se puede expresar de la siguiente manera=
numero=5
numero **=3
print(numero)

125

In [8]:
#5.3 Operadores de comparacion 
#Se tiene ==, !=, <,>,<=,>=,

In [10]:
#Ejemplo de igualdad ==
numero1=5
numero2=2
numero1 == numero2

False

In [12]:
#5.4 Operaiones Logicos 
#se  tiene : and , or , not
numero1=5
numero2=6
numero3=7
numero4=8

In [13]:
numero1<numero2

True

In [14]:
#el not invierte el resultado
not(numero1<numero2)

False

In [15]:
numero1<numero2 and numero3 <numero4

True

In [16]:
#tambien puedes utilizar parentesis para ordenar tu operacion

In [17]:
#5.5 Operadores de Pertencia 
#Se tiene : in , not in

In [18]:
#Miremos un ejemplo:
aula=["juan","Daniel","Ruben"]
alumno1="diego"
alumno2="juan"

In [20]:
#¿Diego esta en aula?
alumno1 in aula

False

In [21]:
#Diego no esta en aula 
alumno1 not in aula

True

In [22]:
#5.6 Operacion de identidad
# Se tiene: is , is not

In [23]:
aula1=["juan","Daniel","Ruben"]
aula2=["juan","Daniel","Ruben"]
#A continuacion vamos a indicar que aula3 va a 
#compartir el mismo objeto que aula1
aula3 = aula1

In [24]:
#¿aula3 comparte el mismo objeto que aula1?
aula1 is aula3

True

In [25]:
#¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [26]:
aula1.append("Diego")

In [28]:
#Al inprimir los elementos de la lista aula1 se observa 
print(aula1)

['juan', 'Daniel', 'Ruben', 'Diego']

In [29]:
#Al inprimir los elementos de la lista aula1 se observa 
print(aula3)

['juan', 'Daniel', 'Ruben', 'Diego']