# Semana07
Kenet Simon Ureta Flover

Temas:
    1.Numeros
    2.Variables 
    3.Manejo de cadenas 
    4.Ingreso de datos por el teclado
    5.Operadores

2.Variables

In [2]:
edad=41
edad

41

In [4]:
nombre="Kenet"
apellido="Ureta"
"Tu nombre completo es "+ nombre +""+apellido

'Tu nombre completo es KenetUreta'

In [5]:
nombrecompleto= nombre +apellido 
nombrecompleto

'KenetUreta'

In [6]:
nombrecompleto= nombre+""+apellido
nombrecompleto

'KenetUreta'

In [7]:
#para saber el tipo de variable utilizamos la funcion type()
#Por ejemplo:
numero=50
type(numero)

int

In [8]:
type(nombre)

str

In [9]:
talla=1.57
talla

1.57

In [10]:
#Para convertir un numero en cadena utilizamos str()
numero=100
cadena=str(numero)
cadena

'100'

In [11]:
type(cadena)

str

In [12]:
#Para convertir una cadena en un numero entero utilizamos int()
cadena2="50"
numero2=int(cadena2)
numero2

50

In [13]:
#para convertir una cadena a un decimal utilizamos float()
cadena2="50"
numero2=float(cadena2)
numero2

50.0

In [14]:
type(numero2)

float